---
layout: default
title: Cookie Policy
description: Cookie Policy
keywords: Code Sync, Cookie Policy
twitter_site: CodeBEAMio
twitter_image: http://codesync.global/assets/img/social-image.jpg
og_image: http://codesync.global/assets/img/social-image.jpg
head_title: "COOKIE POLICY"
head_subtitle: "Please read our Cookie Policy"
bg_image:
permalink: /cookie_policy/
redirect_from:
  - /page/8/
  - /page/8
---

<style>
    /* Banner sizing to match about-us / anti-slavery */
    .banner.mh--80vh, .banner.mh--100vh {
        min-height: 40vh !important;
        height: 40vh !important;
        max-height: 40vh !important;
    }
    .banner .container--small { height: auto !important; }
    .banner .mt--120 { margin-top: 20px !important; }
    .banner .heading--xlarge, .banner .heading--xxlarge { font-size: 60px !important; }
    main .container--article h1 { margin-top: 40px; }
    @media screen and (max-width: 767px) {
        .banner .heading--xlarge, .banner .heading--xxlarge { font-size: 34px !important; }
    }
</style>
{% include header.html %}
<main>
    <section class="banner vp--100 black-gradient--top black-gradient--bottom mh--80vh">
        <div class="container--small">
            <div class="mt--120">
                <div class="text-center">
                    <h1 class="heading color--main heading--xlarge">COOKIE POLICY</h1>
                    <h2 class="heading heading--medium mt--50 medium">Please read our Cookie Policy</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="mt--30 pb--50 section-container" id="Policy">
        <div class="container--article">

                <p><strong>Cookies and how we use them</strong></p>

<p>This cookie policy (&ldquo;Policy&rdquo;) details how Erlang Solutions (&ldquo;ESL&rdquo;) uses cookies and cookie-like files and technologies on its websites, e.g. Local Shared Objects, also known as &ldquo;Flash cookies&rdquo;, web beacons etc. We refer to these generically as &ldquo;cookies&rdquo;. If you visit our websites and your browser settings accept cookies, we consider this as acceptance of our use of cookies.</p>

<p><strong>What are cookies and how do they work?</strong></p>

<p>Cookies are small files that are sent to and stored in your computer by the websites you visit. Cookies are stored in your browser&rsquo;s file directory. Next time you visit the site, your browser will read the cookie and relay the information back to the website or element that originally set the cookie. To learn more about these technologies and how they work, please see e.g. <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a>.</p>

<p><strong>Why does Erlang Solutions use cookies?</strong></p>

<p>At Erlang Solutions domains, we use cookies to offer you a smoother experience. View your options for managing cookies below. Cookies fall into different categories:</p>

<p><strong>Basic functions</strong><br />
These cookies are essential for running our web sites and are the key to providing you a seamless experience. You can navigate uninterrupted e.g. by remembering language and country choices you&rsquo;ve made and by preserving authentication to secure parts of the domain. These cookies also remember products of interest when you are redirected to an Operator site for a possible purchase.</p>

<p><strong>Site improvement</strong><br />
These cookies enable us to improve our websites by looking at how they are used. We do analytical profiling to understand e.g. unique users reading a particular article (to know what is popular) or if a video file was viewed or abandoned half way through. We also look at where content is accessed so we know how to arrange our sites for optimal user experience. We count clicks on &ldquo;Like&rdquo; and &ldquo;Tweet&rdquo; plugins and what content from our sites was shared or referenced.</p>

<p><strong>Personalisation</strong><br />
These cookies help make the content as personalised as possible, for example by showing you targeted banners and relevant recommendations. We examine what type of reference was used to reach our sites, e.g. an email campaign or a link from a referral site, so we can estimate the effectiveness of our promotions and advertising campaigns.</p>

<p><strong>Advertising</strong><br />
We use these cookies to dynamically serve Erlang Solutions ads on both Erlang Solutions and selected third party websites.</p>

<p>Our domains may also include elements that set cookies on behalf of third parties. On codesync.global these currently include Google Tag Manager and Google Analytics (site-usage measurement) and, managed through Google Tag Manager, services such as Hotjar (behavioural analytics) and the Meta (Facebook) Pixel (advertising measurement). Our newsletter sign-up is provided by GetResponse, whose Web Connect script also enables visitor tracking. We may also embed third-party content such as YouTube videos, and include social links or buttons for networks such as LinkedIn, Facebook and X (Twitter), which can set their own cookies.</p>

<p><strong>How can I manage cookies?</strong></p>

<p>You can review the options available to manage cookies in your browser. The browser can be used to manage cookies relating to basic functions, site improvement, personalisation and advertising. Different browsers use different ways to disable cookies, but they are usually found under a Tools or Options menu. You can also consult the browser&rsquo;s help menu. In addition to cookie management, browsers usually let you control files similar to cookies, for example Local Shared Objects, e.g. by enabling the browser&rsquo;s privacy mode. Erlang Solutions uses third party vendor managed advertising cookies to promote its products in both Erlang Solutions and non-Erlang Solutions web sites. You may be able to opt-out from certain third party managed advertising cookies through third party cookie management sites.</p>

<p>For more information about cookies, please review our current <strong>domain cookie list. </strong></p>

<p>This list will be periodically reviewed and updated to reflect changes in cookie usage.</p>

<p>erlang-solutions.com<br />
codesync.global<br />
lambdadays.org<br />
google.com (including country-specific versions)<br />
doubleclick.net<br />
google-analytics.com<br />
googletagmanager.com<br />
tagmanager.google.com<br />
hotjar.com<br />
getresponse.com<br />
gr-wcon.com<br />
gr-cdn.com<br />
googleadservices.com<br />
adwords.com<br />
d.adroll.com<br />
yahoo.com<br />
bing.com<br />
facebook.com<br />
linkedin.com<br />
youtube.com<br />
twitter.com<br />
eventbrite.com</p>

<p>Disabling cookies may prevent you from using certain parts of Erlang Solutions websites. If you delete your cookies from the browser, you may need to remember to re-install opt-out cookies.</p>

<p><strong>How long do we keep the information?</strong></p>

<p>It depends based on the type of cookies. Session cookies expire when you close the browser. Persistent cookies, including Local Shared Objects (&ldquo;Flash cookies&rdquo;), have typical expiration dates ranging from two months up to a couple of years.</p>

<p><strong>What else should you know?</strong></p>

<p>Erlang Solutions may from time to time change this Policy. However, if this Policy is changed in a material, adverse way, Erlang Solutions will post a notice advising of such change at the beginning of this Policy and on this site&#39;s home page. We recommend that you revisit this Policy from time to time to learn of any such changes to this Policy.</p>

<p>If you have additional questions, please contact us by writing to:&nbsp;<a href="mailto:legal@erlang-solutions.com">legal@erlang-solutions.com</a></p>
        </div>
    </section>
</main>
{% include footer.html %}
