---
layout: default
title: Home
description: WELCOME TO THE HOME OF THE CODE SYNC FAMILY OF CONFERENCES AND TRAINING
keywords: Code Sync, conferences, training, Code BEAM, Code BEAM Lite, Erlang, Elixir, Gleam, BEAM
twitter_site: CodeBEAMio
twitter_image: http://codesync.global/uploads/media/seo/0001/01/c476b093a0062ae0167ed6d9f4d7d4bd9024157d.png
og_image: http://codesync.global/uploads/media/seo/0001/01/c476b093a0062ae0167ed6d9f4d7d4bd9024157d.png
---

{% include header.html %}
<main class="homepage">
    {% include video_container.html %} {% include notification_cookie.html %} {%
    include welcome_section.html %} {% comment %} {% include stay_in_touch.html
    %} {% endcomment %} {% comment %} {% include contact.html %} {% endcomment
    %}
</main>
{% include footer.html %}
