---
layout: default
title: Terms of Use
description: Terms of Use
keywords: Code Sync, Terms of Use
twitter_site: CodeBEAMio
twitter_image: http://codesync.global/assets/img/social-image.jpg
og_image: http://codesync.global/assets/img/social-image.jpg
head_title: "TERMS OF USE"
head_subtitle: "Terms of use and acceptable use policy (&ldquo;the Terms&rdquo;)"
bg_image:
permalink: /terms_and_conditions/
---

<style>
    /* Banner sizing to match about-us / anti-slavery */
    .banner.mh--80vh, .banner.mh--100vh {
        min-height: 40vh !important;
        height: 40vh !important;
        max-height: 40vh !important;
    }
    .banner .container--small { height: auto !important; }
    .banner .mt--120 { margin-top: 20px !important; }
    .banner .heading--xlarge, .banner .heading--xxlarge { font-size: 60px !important; }
    main .container--article h1 { margin-top: 40px; }
    @media screen and (max-width: 767px) {
        .banner .heading--xlarge, .banner .heading--xxlarge { font-size: 34px !important; }
    }
</style>
{% include header.html %}
<main>
    <section class="banner vp--100 black-gradient--top black-gradient--bottom mh--80vh">
        <div class="container--small">
            <div class="mt--120">
                <div class="text-center">
                    <h1 class="heading color--main heading--xlarge">TERMS OF USE</h1>
                    <h2 class="heading heading--medium mt--50 medium">Terms of use and acceptable use policy (&ldquo;the Terms&rdquo;)</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="mt--30 pb--50 section-container" id="Policy">
        <div class="container--article">

                <h1>Use of Site</h1>

<p>This website (&ldquo;the Site&rdquo;) is a site operated by Erlang Solutions Limited (&quot;We&quot;). We are registered in England and Wales under company number 3893360 and have our registered office at The Loom, 14 Gower&rsquo;s Walk, London, E1 8PY. Our VAT registration number is VAT 752 1091 57.</p>

<p>By using the Site, you confirm that you accept these Terms (including the Acceptable Use Policy set out below) and that you agree to comply with them.</p>

<p>If you do not agree to these Terms (including the Acceptable Use Policy), you must not use the Site.</p>

<p>We amend these Terms from time to time. Every time you wish to use the Site, please check these Terms to ensure you understand the terms that apply at that time.</p>

<h1>How you may use material on the Site</h1>

<p>We are the owner or the licensee of all intellectual property rights in the Site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>

<p>You may print off one copy, and may download extracts, of any page(s) from the Site for your personal use and you may draw the attention of others within your organisation to content posted on our Site.</p>

<p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>

<p>Our status (and that of any identified contributors) as the authors of content on the Site must always be acknowledged.</p>

<p>You must not use any part of the content on the Site for commercial purposes without obtaining a licence to do so from us or our licensors.</p>

<p>If you print off, copy or download any part of the Site in breach of these&nbsp;terms&nbsp;of use, your right to use the Site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>

<p>Except as expressly authorized by these Terms, you may not use, alter, copy, distribute, transmit, or derive another work from any materials obtained from the Site, except as expressly permitted by these Terms. By using the Site, you agree with the use of cookies (further information about which can be found in our <a href="{{ '/cookie_policy/' | prepend: site.baseurl }}">Cookie Policy</a>).</p>

<h1>How we may use your personal information</h1>

<p>We will only use your personal data as set out in our privacy policy, which can be found <a href="{{ '/privacy_policy/' | prepend: site.baseurl }}">here</a>.&nbsp;</p>

<h1>Links to third-party sites and user-generated content</h1>

<p>Links on the Site to third party web sites or information are provided solely as a convenience to you. If you use these links, you will leave the Site. Such links do not constitute or imply an endorsement, sponsorship, or recommendation by us of the third party, the third-party web site, or the information contained therein. We are not responsible for the availability of any such web sites nor are we responsible or liable for any such web site or the content thereon. If you use the links to the web sites of our affiliates or service providers, you will leave the Site, and will be subject to the terms of use and privacy policy applicable to those web sites.</p>

<p>This&nbsp;Site may include information and materials uploaded by other users of the Site, including to bulletin boards and chat rooms. This information and these materials are subject to our Acceptable Use Policy and have not been verified or approved by us. The views expressed by other users on the Site do not represent our views or values.</p>

<h1>Uploading content to this Site</h1>

<p>Whenever you make use of a feature that allows you to upload content to the Site, or to make contact with other users of the Site, you must comply with the content standards set out in our Acceptable Use Policy.</p>

<p>You warrant that any such contribution does comply with those standards, and you will be liable to us and indemnify us for any breach of that warranty. This means you will be responsible for any loss or damage we suffer as a result of your breach of warranty.</p>

<p>Any content you upload to the Site will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your content, but you are required to grant us and other users of the Site a limited licence to use, store and copy that content and to distribute and make it available to third parties.</p>

<p>We also have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to the Site constitutes a violation of their intellectual property rights, or of their right to privacy.</p>

<p>We have the right to remove any posting you make on the Site if, in our opinion, your post does not comply with the content standards set out in our Acceptable Use Policy.&nbsp;</p>

<h1>Linking to this Site</h1>

<p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You are not permitted to:</p>

<ul>
	<li>
	<p>establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists;</p>
	</li>
	<li>
	<p>establish a link to the Site in any&nbsp;website&nbsp;that is not owned by you;</p>
	</li>
	<li>
	<p>frame the Site on any other site;</p>
	</li>
	<li>
	<p>create a link to any part of the Site other than the home page.</p>
	</li>
</ul>

<p>We reserve the right to withdraw linking permission without notice. The&nbsp;website&nbsp;in which you are linking must comply in all respects with the content standards set out in our Acceptable Use Policy.</p>

<p>If you wish to link to or make any use of content on the Site other than that set out above, please contact <a href="mailto:marketing@erlang-solutions.com">marketing@erlang-solutions.com</a></p>

<h1>Reliance on information</h1>

<p>The content on the Site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on the Site.</p>

<p>Although we make reasonable efforts to update the information on the Site, we make no representations, warranties or guarantees, whether express or implied, that the content on the Site is accurate, complete or up to date.</p>

<h1>Limitation of Liability</h1>

<h2>Whether you are a consumer or a business user:</h2>

<ul>
	<li>
	<p>We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors and for fraud or fraudulent misrepresentation.</p>
	</li>
	<li>
	<p>Different limitations and exclusions of liability will apply to liability arising as a result of the&nbsp;supply&nbsp;of any services or products to you, which will be set out in the terms&nbsp;and&nbsp;conditions&nbsp;of&nbsp;supply we enter into with you&nbsp;prior to such supply.</p>
	</li>
</ul>

<h2>If you are a business user:</h2>

<ul>
	<li>
	<p>We exclude all implied&nbsp;conditions, warranties, representations or other&nbsp;terms&nbsp;that may apply to the Site or any content on it.</p>
	</li>
	<li>
	<p>We will not be liable to you for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>

	<ul>
		<li>
		<p>use of, or inability to use, the Site; or</p>
		</li>
		<li>
		<p>use of or reliance on any content displayed on the Site.</p>
		</li>
	</ul>
	</li>
	<li>
	<p>In particular, we will not be liable for:</p>

	<ul>
		<li>
		<p>loss of profits, sales, business, or revenue;</p>
		</li>
		<li>
		<p>business interruption;</p>
		</li>
		<li>
		<p>loss of anticipated savings;</p>
		</li>
		<li>
		<p>loss of business opportunity, goodwill or reputation; or</p>
		</li>
		<li>
		<p>any indirect or consequential loss or damage.</p>
		</li>
	</ul>
	</li>
</ul>

<h2>If you are a consumer user:</h2>

<ul>
	<li>
	<p>Please note that if you are accessing the Site for domestic and private use we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>
	</li>
	<li>
	<p>If defective digital content that we have supplied to you in your capacity as a consumer damages a device or digital content belonging to you and this is caused by our failure to use reasonable care and skill, we will either repair the damage or pay you compensation. However, we will not be liable for damage that you could have avoided by following our advice to apply an update offered to you free of charge or for damage that was caused by you failing to correctly follow installation instructions or to have in place the minimum system requirements advised by us.</p>
	</li>
</ul>

<p>Because some states do not allow the exclusion or limitation of liability for consequential or incidental damages, some of the above limitations may not apply to you. In such states, our liability is limited (and warranties are excluded to the greatest extent permitted by law) but shall, in no event, exceed $100.</p>

<h1>We are not responsible for viruses and you must not introduce them</h1>

<p>We do not guarantee that the Site will be secure or free from bugs or viruses.</p>

<p>You are responsible for configuring your information technology, computer programmes and platform to access the Site. You should use your own virus protection software.</p>

<p>You must not misuse the Site by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to the Site, the server(s) on which the Site is stored or any server, computer or database connected to the Site. You must not attack the Site via a denial-of-service&nbsp;attack or a distributed denial-of&nbsp;service&nbsp;attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Site will cease immediately.</p>

<h1>Which country&rsquo;s laws apply to any disputes?&nbsp;&nbsp;</h1>

<p>If you are a consumer, please note that these Terms, their subject matter and their formation are governed by English law. You and we both agree that the courts of England and Wales will have exclusive jurisdiction except that if you are a resident of Northern Ireland you may also bring proceedings in Northern Ireland, and if you are resident of Scotland, you may also bring proceedings in Scotland.</p>

<p>If you are a business, these Terms, their subject matter and their formation (and any non-contractual disputes or claims) are governed by English law. We both agree to the exclusive jurisdiction of the courts of England and Wales.</p>

<p>Any communication in relation to these terms must be sent by registered post to our address in the first paragraph, copied to <a href="mailto:legal@erlang-solutions.com">legal@erlang-solutions.com</a></p>

<p>&nbsp;</p>

<p></p>

<h1>ACCEPTABLE USE POLICY</h1>

<h2>Prohibited uses</h2>

<p>&nbsp;You may use the Site only for lawful purposes. You may not use the Site:</p>

<ol>
	<li>In any way that breaches any applicable local, national or international law or regulation.</li>
	<li>In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.</li>
	<li>For the purpose of harming or attempting to harm minors in any way.</li>
	<li>To bully, insult, intimidate or humiliate any person.</li>
	<li>To send, knowingly receive, upload, download, use or re-use any material that does not comply with our content standards, as described below.</li>
	<li>To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).</li>
	<li>To knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
</ol>

<p>You also agree:</p>

<ol>
	<li>Not to reproduce, duplicate, copy or re-sell any part of the Site in contravention of the provisions of our Terms.</li>
	<li>Not to access without authority, interfere with, damage or disrupt:</li>
	<li>any part of the Site;</li>
	<li>any equipment or network on which the Site is stored;</li>
	<li>any software used in the provision of the Site; and</li>
	<li>any equipment or network or software owned or used by any third party.</li>
</ol>

<h2>Interactive Services</h2>

<p>We may from time to time provide interactive services on the Site, including, without limitation:</p>

<ol>
	<li>Chat rooms;</li>
	<li>Bulletin boards; and</li>
	<li>Support portals.</li>
</ol>

<h2>(&ldquo;interactive services&rdquo;)</h2>

<p>Where we do provide any interactive service, we will provide clear information to you about the kind of service offered, if it is moderated and what form of moderation is used (including whether it is human or technical).</p>

<p>We will do our best to assess any possible risks for users from third parties when they use any interactive service provided on the Site, and we will decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of those risks. However, we are under no obligation to oversee, monitor or moderate any interactive service we provide on the Site, and we expressly exclude our liability for any loss or damage arising from the use of any interactive service by a user in contravention of our content standards, whether the service is moderated or not.</p>

<p>The use of any of our interactive services by a minor is subject to the consent of their parent or guardian. We advise parents who permit their children to use an interactive service that it is important that they communicate with their children about their safety online, as moderation is not fool proof. Minors who are using any interactive service should be made aware of the potential risks to them.</p>

<p>Where we do moderate an interactive service, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise.</p>

<h2>Content Standards</h2>

<p>These content standards apply to any and all material that you contribute to the Site (&ldquo;<strong>Contribution</strong>&rdquo;) and to any interactive services associated with it.</p>

<p>The Content Standards must be complied with in spirit as well as to the letter. The standards apply to each part of any Contribution as well as to its whole.</p>

<p>We will determine, in our absolute discretion, whether a Contribution breaches the Content Standards.</p>

<p>A Contribution must:</p>

<ol>
	<li>Be accurate (where it states facts);</li>
	<li>Be genuinely held (where it states opinions); and</li>
	<li>Comply with the law applicable in England and Wales and in any country from which it is posted.</li>
</ol>

<p>A Contribution must not:</p>

<ol>
	<li>Be defamatory of any person.</li>
	<li>Be obscene, offensive, hateful or inflammatory.</li>
	<li>Bully, insult, intimidate or humiliate.</li>
	<li>Promote sexually explicit material.</li>
	<li>Promote violence.</li>
	<li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
	<li>Infringe any copyright, database right or trade mark of any other person.</li>
	<li>Be likely to deceive any person.</li>
	<li>Breach any legal duty owed to a third party, such as a contractual duty or a duty of confidence.</li>
	<li>Promote any illegal activity.</li>
	<li>Be in contempt of court.</li>
	<li>Be threatening, abuse or invade another&rsquo;s privacy, or cause annoyance, inconvenience or needless anxiety.</li>
	<li>Be likely to harass, upset, embarrass, alarm or annoy any other person.</li>
	<li>Impersonate any person, or misrepresent your identity or affiliation with any person.</li>
	<li>Give the impression that the Contribution emanates from us, if this is not the case.</li>
	<li>Advocate, promote, incite any party to commit, or assist any unlawful or criminal act such as (by way of example only) copyright infringement or computer misuse.</li>
	<li>Contain a statement which you know or believe, or have reasonable grounds for believing, that members of the public to whom the statement is, or is to be, published are likely to understand as a direct or indirect encouragement or other inducement to the commission, preparation or instigation of acts of terrorism.</li>
	<li>Contain any advertising or promote any services or web links to other sites.</li>
</ol>

<h2>Breach of this Acceptable Use Policy</h2>

<p>When we consider that a breach of this Acceptable Use Policy has occurred, we may take such action as we deem appropriate.</p>

<p>Failure to comply with this Acceptable Use Policy constitutes a material breach of the Terms, and may result in our taking all or any of the following actions:&nbsp;</p>

<ol>
	<li>Immediate, temporary or permanent withdrawal of your right to use the Site.</li>
	<li>Immediate, temporary or permanent removal of any Contribution uploaded by you to the Site.</li>
	<li>Issue of a warning to you.</li>
	<li>Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.</li>
	<li>Further legal action against you.</li>
	<li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary or as required by law.</li>
</ol>

<p>We exclude our liability for all action we may take in response to breaches of this Acceptable Use Policy. The actions we may take are not limited to those described above, and we may take any other action we reasonably deem appropriate.</p>

<p>&nbsp;</p>

<p>Erlang Solutions Limited May 2019</p>
        </div>
    </section>
</main>
{% include footer.html %}
