<section class="anchor__submenu newsletter section-container vp--100 d-vp-80 t-vp-70 m-vp-20" id="newsletter">
    <picture class="newsletter-background">
        <img alt="{{ page.title }} logo" class="tile__logo lazy" data-src="{{site.baseurl}}{{ page.newsletter_background_image }}">
    </picture>
    <div class="container--small grid-gap-100">
        <div class="row">
            <div class="col-12 t-col-12">
                <h3 class="heading heading--large">
                    NEWSLETTER
                </h3>
                <p class="paragraph paragraph--tiny col-8 t-col-12 t-col-12">
                    Code Sync and Erlang Solutions care about your data and privacy. By submitting this form you agree
                    that your data will be processed according to our
                    <a class="link" href="https://codesync.global/privacy_policy/">Privacy Policy</a>. Update your email preferences
                    <a class="link" href="https://www2.erlang-solutions.com/email-preference?epc_hash=JtO6C7Q2rJwCdZxBx3Ad8jI2D4TJum7XcUWcgfjZ8YY" rel="noindex nofollow noopener noreferrer" style="color:#fff" target="_blank" title="Disclaimer Link">Update your
                    email preferences</a>
                </p>
            </div>
        </div>
        <getresponse-form form-id="96958835-6ec9-479c-af0c-b07a14b1a9e0" e="0"></getresponse-form>
    </div>
</section>
