<section class="anchor__submenu contact background-image vp--100 m-vp-30 section-container lazy" data-bg="url('{{ "/assets/img/bg-contact.70e06bd4.jpg" | prepend: site.baseurl }}')" id="got-questions">
    <div class="container--small">
        <div class="grid-gap-100">
            <h2 class="heading heading--large mt--50 t-mt-20">Got Questions?</h2>
            <div class="row mt--60 d-mt-20 m-mt-10 contact__info">
                <div class="col-12 paragraph--robotomono mt--20">
                    <p>Get in touch if you have any questions, and we will be happy to help you!</p>

                    <p>Sponsorship T&amp;C can be found
                        <a href="{{ '/sponsorship-terms-and-conditions/' | prepend: site.baseurl }}">here</a>.</p>

                    <p>You can email us on&nbsp;<a href="mailto:info@codesync.global">info@codesync.global</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
