<script src="{{ '/assets/runtime.b508c316.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/main.edcd81d6.js' | prepend: site.baseurl }}"></script>

<!-- GetResponse Web Connect: loads GetResponse embedded forms (and visitor tracking). Installed once, site-wide. -->
<script type="text/javascript">
(function(m, o, n, t, e, r, _){
    m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
    r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode.insertBefore(r, _);
})(window, document, 'script', 'https://an.gr-wcon.com/script/7d8e390f-a4a7-43c7-b578-a1caa748c168/ga.js', 'GrTracking');
</script>
<!-- End GetResponse Web Connect -->